@charset "utf-8";

@font-face {
  font-family: "Sony Sketch";
  src: url(../Sony-Sketch-EF.ttf) format('ttf'),
  url(../Sony-Sketch-EF.ttf.woff) format('woff');
}

@font-face {
  font-family: "billieBarred";
  src: url(../billiebarred.woff) format('woff'),
  url(../billiebarred.ttf) format('ttf');
}

html {
  background-image: linear-gradient(to top right, azure, darkgray);
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  border-radius: 128px;
  border: solid azure 4px;
}

.link img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.name {
  color: cornflowerblue;
  font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
  text-shadow: blue 2px 2px 15px, red -2px -2px 15px, black 1px 1px 4px;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.link a {
  font-family: billieBarred, cursive, sans-serif;
  text-decoration: none;
  font-size: 1.4em;
  color: azure;
  text-align: center;
  flex-grow: 1;
  
}

.link {
  border: solid cornflowerblue 2px;
  border-radius: 50px;
  margin: 20px auto;
  background-color: rgb(100, 186, 239);;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-shadow: rgb(51, 51, 51) 5px 0 15px, rgb(51, 51, 51) -5px 0 15px;
}

.link:hover, .link:active, .link:visited {
  background-image: linear-gradient(to right, palegreen, cornflowerblue);
  text-shadow: blue 2px 2px 15px, green -2px -2px 15px, black 1px 1px 2px;
}

.items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  max-width: 640px;
  width: 50%;
}
